.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.caption {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 3px;
}

header {
  background: #FBFAFE;
  color: #3a393c;
  margin: 100px 10px;
  width: 250px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #3a393c;
  color: #FBFAFE;
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
  color: #3a393c;
  background: #FBFAFE;
  margin: 100px 10px 0px;
  width: 250px;
  padding: 20px 20px 0px;
}

h3 {
  font-size: 40px;
}

h5 {
  font-size: 12px;
  color: #3a393c;
  background: #FBFAFE;
  margin: 0px 10px;
  width: 250px;
  padding: 0px 20px 20px;
}

p {
  font-size: 20px;
}

a:link, a:visited {
  color: #4DE1E1;
  opacity: 50%
  text-decoration: none;
}

a:hover {
  color: #4d8ee1;
  opacity: 50%
}

a:active {
  color: #4d8ee1;
}
