.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.retro {
  border-radius: 8px;
}

.caption {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: steelblue;
  color: white;
}

p {
  font-size: 16px;
  font: "Verdana";
}
